@using JxAudio.Front.Enums
@using IconPark
@using Jx.Toolbox.Extensions
@using Console = System.Console
@inherits BootstrapModuleComponentBase

@attribute [JSModuleAutoLoader("./Components/PlayerControl.razor.js", JSObjectReference = true)]

<div class="d-flex flex-column align-items-stretch w-100" style="height: 5rem">
    <input type="range" class="progress-slider" @bind-value="CurrentTimeString" 
           min="0" max="@Duration" step="1" @bind-value:event="oninput" style="background: linear-gradient(to right, var(--bb-header-bg) 0%, var(--bb-header-bg) @(Percent)%, #ddd @(Percent)%, #ddd 100%)">
    
    <div class="d-flex flex-grow-1 align-items-center">
        <div class="flex-1 hide-on-mobile">
            <div class="d-flex">
                <img alt="" src="favicon.png" class="w-11 h-11 rounded">
                <div class="ms-2 text-xs d-flex flex-column justify-content-between">
                    <div class="w-52 cursor-pointer text-truncate">
                        <div class="d-flex">
                            <span>JxAudio</span>
                            <div class="ms-2 text-secondary">Test</div>
                        </div>
                    </div>
                    <div class="d-flex gap-x-3">
                        <Like Size="18" StrokeWidth="3" Theme="ThemeType.Filled"></Like>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-1">
            <div class="d-flex align-items-center justify-content-center gap-x-3">
                <Button Color="Color.None" style="color: red; font-size: 15px" Icon="fa-solid fa-shuffle">
                    
                </Button>
                <Button Color="Color.None">
                    <GoStart Size="28"></GoStart>
                </Button>
                <Button Color="Color.None" style="color: var(--bb-header-bg)" OnClick="Play" 
                        class="@(_playStatus == PlayStatus.Loading ? "rotating" : "")">
                    @switch (_playStatus)
                    {
                        case PlayStatus.Stop:
                        case PlayStatus.Pause:
                            <Play Size="45" Theme="ThemeType.Filled"></Play>
                            break;
                        case PlayStatus.Play:
                            <PauseOne Size="45" Theme="ThemeType.Filled"></PauseOne>
                            break;
                        case PlayStatus.Loading:
                            <LoadingFour Size="45" Theme="ThemeType.Filled"></LoadingFour>
                            break;
                    }
                </Button>
                <GoEnd Size="28"></GoEnd>
                <PopConfirmButton CustomClass="custom-popup" Placement="Placement.Top">
                    <BodyTemplate>
                        <div class="d-flex align-items-center">
                            <VolumeControl @bind-Volume="@Volume"></VolumeControl>
                        </div>
                    </BodyTemplate>
                    <ChildContent>
                        <VolumeSmall Size="20"></VolumeSmall>
                    </ChildContent>
                </PopConfirmButton>
                
                <Button Color="Color.None" class="show-on-mobile">
                    <MoreOne Size="20" StrokeWidth="3"></MoreOne>
                </Button>
                
            </div>
        </div>
        <div class="flex-1 hide-on-mobile">
            <div class="d-flex justify-content-end align-items-center gap-x-2-5">
                <span class="text-xs">
                    @CurrentTime.ToTimeString()[3..] / @Duration.ToTimeString()[3..]
                </span>
                <TextMessage Size="18"></TextMessage>
                <div class="d-flex align-items-center">
                    <MusicList Size="18" StrokeWidth="3"></MusicList>
                    <span class="text-xs">1</span>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public int CurrentTime { get; set; }

    [Parameter] public int Duration { get; set; } = 100;

    [Parameter]
    public EventCallback<int> CurrentTimeChanged { get; set; }

    private int Percent { get; set; }

    private int _volume = 100;

    private int Volume
    {
        get => _volume;
        set
        {
            if(_volume != value)
            {
                _volume = value;
                InvokeVoidAsync("setVolume", value / 100.0);
            }
        } 
    }

    private PlayStatus _playStatus = PlayStatus.Stop;

    private string CurrentTimeString
    {
        get => CurrentTime.ToString();
        set
        {
            if (value != CurrentTimeString)
            {
                Console.WriteLine(CurrentTimeString);
                CurrentTime = int.Parse(value); 
                Percent = CurrentTime * 100 / Duration;
                CurrentTimeChanged.InvokeAsync(CurrentTime);
                InvokeVoidAsync("setCurrentTime", CurrentTime);
            }
            
        }
    }

    protected override Task InvokeInitAsync() => InvokeVoidAsync("init", Interop);

    [JSInvokable]
    public void OnTimeUpdate(double currentTime)
    {
        var time = (int) currentTime;
        if (CurrentTime != time)
        {
            CurrentTime = time;
            CurrentTimeChanged.InvokeAsync(time);
            Percent = CurrentTime * 100 / Duration;
            StateHasChanged();
        }
    }
    
    [JSInvokable]
    public void OnEnded(){}

    [JSInvokable]
    public void OnError(string error)
    {
        Console.WriteLine(error);
    }

    [JSInvokable]
    public void OnLoaded(double duration)
    {
        Console.WriteLine(duration);
        _playStatus = PlayStatus.Play;
        StateHasChanged();
    }
    

    private async Task Play()
    {
        if (_playStatus == PlayStatus.Loading)
        {
            return;
        }

        if (_playStatus == PlayStatus.Play)
        {
            _playStatus = PlayStatus.Pause;
            await InvokeVoidAsync("playOrPause");
        }
        else if (_playStatus == PlayStatus.Pause)
        {
            _playStatus = PlayStatus.Play;
            await InvokeVoidAsync("playOrPause");
        }
        else if (_playStatus == PlayStatus.Stop)
        {
            _playStatus = PlayStatus.Loading;
            await InvokeAsync(StateHasChanged);
            await InvokeVoidAsync("play", "http://home.jvxiang.com:4533/rest/stream?u=j4587698&t=9da3c9c2714f7cac8688bcc28bc11d47&s=68ef00&f=json&v=1.8.0&c=NavidromeUI&id=f72fb644e228401b83a395a8d043b709&_=1713774716561");
        }

       
    }

}