@using JxAudio.Web.Vo
@using JxAudio.Web.Validators
@using JxAudio.Core.Entity
@using JxAudio.Web.Utils
@inherits StepBase

<ValidateForm Model="@UserInstallVo" OnValidSubmit="@OnSubmit">
    <GroupBox class="install_content">
        <div class="row g-3">
            <div class="form-group col-12">
                <BootstrapInput @bind-Value="@UserInstallVo.UserName"></BootstrapInput>
            </div>
            <div class="form-group col-12">
                <BootstrapInput @bind-Value="@UserInstallVo.Email"></BootstrapInput>
            </div>
            <div class="form-group col-12">
                <InputNumber @bind-Value="@UserInstallVo.MaxBitRate"></InputNumber>
            </div>
            <div class="form-group col-12">
                <BootstrapInput @bind-Value="@UserInstallVo.Password" type="password"></BootstrapInput>
            </div>
            <div class="form-group col-12">
                <BootstrapInput @bind-Value="@UserInstallVo.RePassword" type="password" ValidateRules="@Validators">
                </BootstrapInput>
            </div>
        </div>
    
    </GroupBox>
    <div class="text-center">
        <Button Text="上一步" OnClick="() => Prev?.Invoke()"></Button>
        <Button ButtonType="ButtonType.Submit">确认</Button>
    </div>
</ValidateForm>

@code {
    private UserInstallVo UserInstallVo { get; set; } = new UserInstallVo() { UserName = "Admin"};

    private List<IValidator> Validators { get; set; } = [new InstallValidator()];

    private async Task OnSubmit(EditContext arg)
    {
        var userEntity = new UserEntity()
        {
            UserName = UserInstallVo.UserName,
            Password = UserInstallVo.Password,
            MaxBitRate = UserInstallVo.MaxBitRate,
            Email = UserInstallVo.Email,
            IsAdmin = true
        };
        await userEntity.SaveAsync();
        File.Create(Path.Combine(AppContext.BaseDirectory, "config", "install.lock"));
        Util.IsInstalled = true;
        Next?.Invoke();
    }
}